
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

#root{
  width:100%
}
.App-link {
  color: #61dafb;
}
.page-not-found{
  font-size: 37px;
  font-weight: 100;
}

.loader{
  top: 0;
  z-index: 100;
  background: #ffffff88;
}