


.front-body{
    position:relative;
    width: 100%;
    font-family: "Roboto" ,sans-serif;
    color :#05364d !important;
}
h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
    color :#05364d;
}
h2{
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    color :#05364d;
}
h3{
    font-size: 30px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 15px !important;
    color :#05364d;
}
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.button-sanduich{
    background: transparent !important;
    border : none !important;
    color :#05364d;
}
.button-sanduich:hover{
    background-color : #ffffff36 !important;
}
.button-sanduich:focus,
.button-sanduich:visited
{
    color :#05364d;
    background-color: none !important;
    border : none !important;
    box-shadow: none !important;
}
.wolf-navbar{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    z-index:1
}
.wolf-navbar-brand{
    font-size: 13px !important;
}
.wolf-navbar-brand > img{
    display: none
}
.wolf-navbar-brand > img{
    width: 50px;
} 
.wolf-navbar-menu-div{
    position: absolute;
    top: 0;
    left: -212px;
    height: 100vh;
    background: rgb(206, 206, 206);
    transition: left .5s ease-in-out; 
    background-size: cover;
}
.wolf-navbar-menu-div.active{
    left: 0px;
    box-shadow: -34px 0 40px 24px #000000b5;
    transition: left .5s ease-in-out; 

}
.sanduich-menu-button{
    display: block;
    flex-direction: row;
}
.wolf-navbar-menu{
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0 !important;

}
.wolf-navbar-item{
    padding: 0 0 !important;
    text-align: center;
    min-width: 200px;
} 
.wolf-navbar-item:first-child{
    position:relative;
    padding: 15px 35px;
    text-align: center;
    display: block !important;
    margin-bottom : 40px;
    z-index :1;
}
.wolf-navbar-item:first-child > a > span{
  display: none;
}
.wolf-navbar-item:first-child::before{
    content: "";
    position: absolute;
    height: 105%;
    background: #efefef;
    width: calc(100% - 80px);
    right: auto;
    border-radius: 0 0 120px 120px;
    left: 40px;
    align-self: center;
    z-index: -1;
    box-shadow: 0px 6px 0px -1px #bfbfbf;
}

.wolf-navbar-item > a {
    position:relative;
    text-decoration: none;
    text-transform: none;
    color :whitesmoke ;
    font-size: 1rem;
    cursor : pointer;
    display : block;
    padding: 20px 35px;
    z-index : 1;
    letter-spacing: 0px;
    transition: letter-spacing .2s ease-in-out;
} 
.wolf-navbar-item:first-child > a{
    color :#05364d;
}
.wolf-navbar-item > a:hover {
    color :#05364d;
    letter-spacing: 2px;
    transition: letter-spacing .4s ease-in-out;
} 

.hovered > a::before{
    content: "";
    border-top: 3px solid;
    border-bottom: 3px solid;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    z-index: -1;
    transition: all .2s ease-in-out; 
}
.wolf-navbar-item > a:hover::before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background : #efefef;
    transition: all .2s ease-in-out; 
} 

.about-me{ 
    display: flex;
    flex-direction: column-reverse;
    /* min-height: 100vh; */
    background-repeat: no-repeat;
    width: 100%;
    background-size: 80%;
    background-position-x: right;
}
.about-me-content{
    margin-top: -50px;
}
.about-me-cover{
    margin-top: -60px;
    position:relative;
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
}
.about-me-cover > img{
    width: 80%;
    height: initial;
}
.about-me-context{

}
.about-me-context > h1{
    font-size : 1.5rem;
}
.about-me-context > h3{
    font-size : 1rem;
    font-weight: 400;
    margin-bottom:15px !important;
}
.about-me-description > p{
    font-size : 0.9rem;font-weight: 300;
    text-align: justify;
}
@media (min-width: 375px) {

}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 425px) { 

 }
 
/* // Medium devices (tablets, 768px and up) */
@media (min-device-width: 768px) and (min-device-width: 768px) { 
    .wolf-navbar-item:first-child > a > span{
        display: initial;
      }
    .wolf-navbar-item{
        min-width: 300px;
    } 
    .wolf-navbar-item > a{
        padding: 20px 35px;
        min-width: 120px;
    }
    .wolf-navbar-item > a:hover::before {
        transition: all .2s ease-in-out; 
    } 
    .wolf-navbar-menu-div{
        left: -300px;
    }
    .wolf-navbar-brand > img{
        display: inline-block;
    }
    .about-me{ 
        flex-direction: row;
        background-repeat: no-repeat;
        width: 100%;
        background-size: 40%;
        background-position-x: right;
    }
    .about-me-content{
        margin-top: 100px;
        padding: 0 15px;
        width: calc(100% - 300px);
    }
    .about-me-cover{
        width: 300px;
        margin-top: 0;
        position:relative;
        display:flex;
        flex-direction: row;
        justify-content: end;
        align-items: start;
    }
    .about-me-cover > img{
        width: 100%;
        height: initial;
    }

 }
 
/* // Large devices (desktops, 992px and up) */
@media (min-device-width: 992px) { 

    /* .about-me{ 
        
        min-height: 100vh;
        background-repeat: no-repeat;
        width: 100%;
        background-size: 40%;
        background-position-x: right;
    } */
    .wolf-navbar-item > a {
        padding: 10px 15px;

    } 
    .hovered > a::before{
        border-radius : 5px;
        background : transparent !important;
    }
    .wolf-navbar{
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    .wolf-navbar-menu-div{
        position: relative;
        background: none;
        height: auto;
        left:auto;
        background : none !important;
        box-shadow: none !important;
    }
    .wolf-navbar-brand{
        font-size: 13px !important;
    }
    .wolf-navbar-brand > img{
        display: inline-block;
    }
    .wolf-navbar-brand > img{
        width: 50px;
    } 
    .wolf-navbar-menu{
        display: flex;
        justify-content: center;
        flex-direction: row;
        list-style: none;
        margin-bottom: 0 !important;
        padding-left: 0 !important;
    }
    .wolf-navbar-item{
        padding: 10px 15px;
        min-width: auto;
    } 
    .wolf-navbar-item > a {
        text-decoration: none;
        text-transform: none;
        color :#05364d;
        font-size: 1rem;
    } 

    .sanduich-menu-button{
        display: none;
        flex-direction: row;
    }
     .wolf-navbar-item:first-child{
        padding: 15px 35px;
        text-align: center;
        display: none !important;
    }
    /* .about-me{ 
        height: 100vh;
        background-repeat: no-repeat;
        width: 100%;
        background-size: 40%;
        background-position-x: right;
    } */

    .about-me-context{

    }
    .about-me-context > h1{
        font-size : 2.5rem;
    }
    .about-me-context > h3{
        font-size : 2rem;
        font-weight: 200;
        margin-bottom:25px !important;
    }
    .about-me-description > p{
        font-size : 1rem;font-weight: 300;
        text-align: justify;
    }
    
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .about-me-description > p{
        font-size : 1.2rem;font-weight: 300;
        text-align: justify;
    }
 }