
section{
    padding-bottom : 15px;
}
.front-body{
    position:relative;
    width: 100%;
    font-family: "Roboto" ,sans-serif;
    color :#05364d !important;
}
.btn-rounded{
    border-radius: 50px !important;
}
.btn-primary{
    color: #fff;
    background: rgb(54,146,250);
    background: linear-gradient(125deg, rgba(54,146,250,1) 0%, rgba(0,216,233,1) 100%) !important;
    border-color: #2f9cf7;
}
.btn-primary:hover{
    color: #fff;
    background: rgb(54,146,250);
    background: linear-gradient(125deg, rgba(54,146,250,1) 0%, rgba(54,146,250,1) 100%) !important;
    border-color: #2f9cf7;
}
.btn-success{
    color: #fff;
    background: rgb(25,135,84);
    background: linear-gradient(146deg, rgba(25,135,84,1) 0%, rgba(119,255,192,1) 100%);
    border-color: linear-gradient(146deg, rgba(25,135,84,1) 0%, rgba(119,255,192,1) 100%);
}
.btn-success:hover{
    color: #fff;
    background: rgb(35,186,116);
    background: linear-gradient(146deg, rgba(35,186,116,1) 0%, rgba(202,223,70,1) 100%);
    border-color: linear-gradient(146deg, rgba(25,135,84,1) 0%, rgba(119,255,192,1) 100%);
}
.btn-secondary{
    color: #fff;
    background: rgb(5,54,77);
    background: linear-gradient(128deg, rgba(5,54,77,1) 0%, rgba(40,100,129,1) 100%);
}

.btn-secondary:hover{
    color: #fff;
    background: linear-gradient(128deg, rgba(5,54,77,1) 0%, rgba(5,54,77,1) 100%);
}
.btn-outline-secondary:hover{
    color: rgba(5,54,77,1) ;
    background: #f5f5f5;
}
.bg-secondary{
    background: linear-gradient(125deg, rgba(54,146,250,1) 0%, rgba(0,216,233,1) 100%) ;
}
.modal-project-description{
    padding-top: 15px; 
}
.modal-project-description >ul >li{
    font-weight: 300;
}
h1,h2,h3,h4,h5,h6{
    color :#05364d;
}
h1{
    font-size: 40px;
    font-weight: 600;
    line-height: 60px;
}
h2{
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
}
h3{
    font-size: 25px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 15px !important;
}
h4{
    font-size: 13px;
    font-weight: 300;
}
p{
    font-size : 0.9rem;
    font-weight: 300;  
}
/* Skills ======================================================================*/
.progress-value{

    position: absolute !important;
    bottom: 7px  !important;
    right: 0  !important;
    font-size: .8571em  !important;
  }
  .progress{
    height: 3px !important;
    border-radius: 0 !important;
  }
  .progress-bar{
    height: 3px !important;
    border-radius: 0 !important
  }
  .skills{
      padding-top: 20px;
  }
/* ============================================================================= */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
.button-sanduich{
    background: transparent !important;
    border : none !important;
    color :#05364d;
}
.button-sanduich:hover{
    background-color : #ffffff36 !important;
}
.button-sanduich:focus,
.button-sanduich:visited
{
    color :#05364d;
    background-color: none !important;
    border : none !important;
    box-shadow: none !important;
}
.wolf-navbar{
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    z-index:1
}
.wolf-navbar-brand{
    font-size: 13px !important;
}
.wolf-navbar-brand > img{
    display: none
}
.wolf-navbar-brand > img{
    width: 50px;
} 
.wolf-navbar-menu-div{
    position: fixed;
    top: 0;
    left: -212px;
    height: 100vh;
    background: rgb(206, 206, 206);
    transition: left .5s ease-in-out; 
    background-size: cover !important;
}
.wolf-navbar-menu-div.active{
    left: 0px;
    box-shadow: -34px 0 40px 24px #000000b5;
    transition: left .5s ease-in-out; 

}
.sanduich-menu-button{
    display: block;
    flex-direction: row;
}
.wolf-navbar-menu{
    margin-top:35px;
    padding: 15px 0;
    height: calc(100vh - 120.66px);
    overflow-y : scroll;
}
.wolf-navbar-menu-ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}
.wolf-navbar-item{
    padding: 0 0 !important;
    text-align: center;
    min-width: 200px;
} 
.wolf-navbar-menu-head{
    position:relative;
    padding: 15px 30px 10px 20px;
    text-align: center;
    display: block !important;
    margin-bottom : 10px;
    z-index :1;
}
.wolf-navbar-menu-head > a > span{
  display: none;
}
.wolf-navbar-menu-head::before{
    content: "";
    position: absolute;
    height: 100%;
    background: #efefef;
    width: calc(100% - 80px);
    border-radius: 0 0 120px 120px;
    right: auto;
    top: 0;
    left: 40px;
    align-self: center;
    z-index: -1;
    box-shadow: 0px 6px 0px -1px #bfbfbf;
}

.wolf-navbar-item > a {
    position:relative;
    text-decoration: none;
    text-transform: none;
    color :whitesmoke !important;
    font-size: 1rem;
    cursor : pointer;
    display : block;
    padding: 20px 35px;
    z-index : 1;
    letter-spacing: 0px;
    transition: letter-spacing .2s ease-in-out;
} 
.wolf-navbar-menu-head > a{
    color :#05364d !important;
}
.wolf-navbar-item > a:hover {
    color :#05364d !important;
    letter-spacing: 2px;
    transition: letter-spacing .4s ease-in-out;
} 

.hovered > a::before{
    content: "";
    border-top: 3px solid;
    border-bottom: 3px solid;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    z-index: -1;
    transition: all .2s ease-in-out; 
}
.wolf-navbar-item > a:hover::before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background : #efefef;
    transition: all .2s ease-in-out; 
} 

.about-me{ 
    display: flex;
    flex-direction: column-reverse;
    background-repeat: no-repeat;
    width: 100%;
    background-size: 80%;
    background-position-x: right;
}
.about-me-content{
    margin-top: 100px;
}
.about-me-cover{
    margin-top: -60px;
    position:absolute;
    top : 0;
    right: 0;
}
.about-me-cover > img{
    width: 80%;
    height: initial;
}
.about-me-context > h1{
    font-size : 1.5rem;
}
.about-me-context > h3{
    font-size : 1rem;
    font-weight: 400;
    margin-bottom:15px !important;
}
.width-100 {
    width :100%
}
.left-design{
    display: none;
}
.section{
    padding-top : 75px;
}

/* scroll nav  */
.nav {
    transition: all 0.1s linear;
    position: fixed;
    z-index: 2000;
    width: 100%;
}
.scrollNav {
    transition: all 0.2s ease-in;
    z-index: 2000;
    background: whitesmoke;
    width: calc(100% - 0.5px);
}
.styl {
    padding-top: 80px;
}
.card_image{
    cursor: pointer;
    position: relative;
}
.card_image_hover{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #e7e7e71c;
}
.card_image_hover_button{
    border-radius: 50px;
    background: rgb(2 30 42 / 51%);
    width: 70px;
    height: 70px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}
.card_image_hover:hover >.card_image_hover_button{

    width: 100%;
    height: 100%;
    border-radius: 0.25rem 0.25rem 0 0;
    transition: all 0.1s ease-in-out;
}
.footer {
    position: relative;
    padding: 120px 0 0 0;
    margin-top: 100px;
    color : var(--dark);
    background: rgb(5,56,79);
}
.footer-head{
    position: absolute;
    background: #041e2a91;
    top: -65px;
    z-index: 10;
    padding: 19px;
    left: 0;
    right: 0;
}
.inner-footer-head{
    background: #041e2a;
}
.footer > .container > h1{
    color : whitesmoke ;
}
.bottom-footer{
    background: #041e2a;
}
.about-me-text{
    margin-top: 210px;
}

@media (min-width: 375px) {
    .about-me-text{
        margin-top: 270px;
    }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 425px) { 
    .about-me-text{
        margin-top: 300px;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-device-width: 768px) and (min-device-width: 768px) { 
    p{
        font-size : 1rem;
        font-weight: 300;  
    }
    h4{
        font-size: 19px;
        font-weight: 300;
    }
    .wolf-navbar-menu-head > a > span{
        display: initial;
      }
    .wolf-navbar-item{
        min-width: 300px;
    } 
    .wolf-navbar-item > a{
        padding: 20px 35px;
        min-width: 120px;
    }
    .wolf-navbar-item > a:hover::before {
        transition: all .2s ease-in-out; 
    } 
    .wolf-navbar-menu-div{
        left: -300px;
        background-size: cover;
    }
    .wolf-navbar-brand > img{
        display: inline-block;
    }
    .about-me{ 
        flex-direction: row;
        background-repeat: no-repeat;
        width: 100%;
        background-size: 40%;
        background-position-x: right;
    }
    .about-me-content{
        margin-top: 100px;
    }

    .about-me-cover{
        width: 370px;
        margin-top: 0;
    }
    .about-me-cover > img{
        width: 100%;
        height: initial;
    }
    .section{
        padding-top : 95px;
        overflow: hidden;
    }
    .skills{
        padding-top: 0px;
    }

 }
 .footer-dev-list{
     flex-wrap: wrap;
 }
 .footer-dev-list > div{
    background: #051f2a;
    margin: 5px;
    padding: 5px 20px;
    border-radius: 50px;
 }


/* // Large devices (desktops, 992px and up) */
@media (min-device-width: 992px) { 

    .about-me-text {
        margin-top: 100px;
    }
    .wolf-navbar-item > a {
        padding: 10px 15px;
    } 
    .hovered > a::before{
        border-radius : 5px;
        background : transparent !important;
    }
    .wolf-navbar{
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 15px;
    }
    .wolf-navbar-menu-div{
        position: relative;
        background: none;
        height: auto;
        left:auto;
        background : none !important;
        box-shadow: none !important;
        background-size: cover;
    }
    .wolf-navbar-brand{
        font-size: 13px !important;
    }
    .wolf-navbar-brand > img{
        display: inline-block;
    }
    .wolf-navbar-brand > img{
        width: 50px;
    } 
    .wolf-navbar-menu-ul{
        display: flex;
        justify-content: center;
        flex-direction: row;
        list-style: none;
        margin-bottom: 0 !important;
        padding-left: 0 !important;
    }
    .wolf-navbar-item{
        padding: 10px 15px;
        min-width: auto;
    } 
    .wolf-navbar-item > a {
        text-decoration: none;
        text-transform: none;
        color :#05364d !important;
        font-size: 1rem;
    } 

    .sanduich-menu-button{
        display: none;
        flex-direction: row;
    }
     .wolf-navbar-menu-head{
        padding: 15px 35px;
        text-align: center;
        display: none !important;
    }
    .wolf-navbar-menu {
        margin-top: 0;    
        padding: 0;    
        height: auto;
        overflow-y: auto;
    }

    .about-me-context{

    }
    .about-me-context > h1{
        font-size : 2.5rem;
    }
    .about-me-context > h3{
        font-size : 2rem;
        font-weight: 200;
        margin-bottom:25px !important;
    }
    p{
        font-size : 1rem;font-weight: 300;
        
    }
    
 }
/*  Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
 }

@media (min-width: 1440px) { 
  
    .about-me-cover{
        position: absolute;
        right: 0;
    }
    .about-me-content{
        /* width: 100%; */
    }
    .col-xxl-8 {
        flex: 0 0 auto;
        width: 75%;
    }
}
@media (min-width: 2560px) { 
    p{
        font-size : 1.2rem;font-weight: 300;  
    }
    .about-me-cover{
        position: absolute;
        right: 0;
        top:0;
        width : 24%;
    }
    .col-xxl-8 {
        flex: 0 0 auto;
        width: 100%;
    }
    .left-design{
        display: initial;
        position: absolute;
        left : 0;
        top:350px;
    }
}

